[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easysurv"]
	path = easysurv
	url = https://github.com/maple-health-group/easysurv
